/* CUSTOM STORY STYLE */
body
	padding 1rem
	background-color $off-white

ul
	margin-left 1rem
	list-style-type disc

	li
		margin-bottom 0.5rem

a
	color $primary

p.submit
	margin 3rem 0
	margin-bottom 6rem
	text-align center

	a
		padding 1rem
		set-type-size(large, false)
		border none
		border-radius 3px
		background $primary
		color $white
		font-weight 600
		font-family $sans
		line-height 1

#winners
	margin 0 auto
	padding 1rem
	max-width 40rem

	.hed
		h2
			margin 0
			font-weight 600

		p
			margin 0

	ul
		margin-top 2rem

	li
		margin-bottom 4rem

	h3
		margin 0
		font-weight bold

		a
			border-color $primary
			color $primary

	p.credit
		margin 0.5rem 0
		line-height 1.4

	img
		margin-top 2rem

	.other
		margin-bottom 3rem

		li
			margin-top 0
			margin-bottom 0
			line-height 1.5
